@font-face {
  font-family: OpenSansHebrew;
  src: url("./assets/fonts/open-sans-hebrew/OpenSansHebrew-Bold.ttf");
}

@font-face {
  font-family: OpenSansHebrewLight;
  src: url("./assets/fonts/open-sans-hebrew/OpenSansHebrew-Light.ttf");
}

@font-face {
  font-family: OpenSansHebrewRegular;
  src: url("./assets/fonts/open-sans-hebrew/OpenSansHebrew-Regular.ttf");
}

* {
  box-sizing: border-box;
}

html {
  direction: rtl;
  line-height: 1.15;
  font-family: OpenSansHebrew;
}

body {
  background-color: #edf1f7;
  margin: 0;
  color: #222b45;
}

span {
  font-family: OpenSansHebrewRegular;
}

/* rules targeting spreadness indices components which share the same style (avoiding view encapsulation) */
.spreadness-indices .spreadness-chart .main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.spreadness-indices .spreadness-chart h6 {
  font-size: 0.875rem;
  margin: 0 0 0.3rem 0;
  padding: 0.86rem 0.9375rem 0 0.9375rem;
}

.spreadness-indices .spreadness-chart .info-container {
  width: fit-content;
  height: 1.525rem;
  background-color: #e6f1f4;
  margin: 0 0.625rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.spreadness-indices .spreadness-chart .info-container span {
  font-size: 0.7rem;
  margin-left: 0.625rem;
}

.info-icon {
  display: inline-block;
  width: 0.9rem;
  height: 0.9rem;
  background-color: #14212b;
  border-radius: 50%;
  color: #fff;
  font-size: 0.7rem;
  text-align: center;
  margin: 0 0.3125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spreadness-indices .spreadness-chart .chart-container {
  flex: 1 0 auto;
  border-radius: 10px;
}

.inRow-container .mainContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inRow-container .header {
  padding: 1rem 1.5rem;
  position: relative;
  flex: 0 0 auto;
}

.inRow-container .upperRow {
  display: flex;
  justify-content: space-between;
  font-size: 0.9375rem;
}

.inRow-container .title {
  color: #222b45;
  font-size: 0.9375rem;
  padding-top: 0.5rem;
}

.inRow-container .dropDown {
  position: relative;
  width: 9.062rem;
  height: 2rem;
  background-color: rgb(247, 249, 252);
  border: 1px solid rgb(228, 233, 242);
  border-radius: 24px;
  padding: 0.49rem 1rem 0.187rem 2rem;
  font-size: 0.793rem;
  cursor: pointer;
}

.inRow-container .dropDown .arrow {
  position: absolute;
  width: 1.18rem;
  height: 1.18rem;
  top: 0.35rem;
  left: 0.25rem;
}

.inRow-container .dropDown:hover {
  background-color: #edf1f7;
}

.inRow-container .dropDown-list {
  position: absolute;
  z-index: 10;
  top: 3.57rem;
  left: 1.5rem;
  list-style-type: none;
  font-size: 0.8125rem;
  background-color: #ffff;
  border: 1px solid #d6d8db;
  border-radius: 5px;
  padding: 0;
  margin: 0;
}

.inRow-container .dropDown-list li {
  padding: 0.48rem 1rem 0.48rem 2rem;
  cursor: pointer;
}

.inRow-container .dropDown-list li:hover {
  background-color: #edeff3;
}

.inRow-container .dropDown-list li.selected {
  background-color: #3366ff;
  color: #f9faff;
}

.inRow-container .infoRow {
  display: flex;
  align-items: center;
  background-color: #e6f1f4;
  border-radius: 2px;
  font-size: 0.7rem;
  padding: 0 0.5rem;
  margin: 0.625rem 0.562rem;
  width: fit-content;
  height: 1.525rem;
}

.inRow-container .lightBulb {
  display: inline-block;
  min-width: 0.9rem;
  height: 0.9rem;
  background-image: url("./assets/images/lightBulb.png");
  background-size: cover;
  margin-left: 0.3rem;
}

.inRow-container .infoRow span {
  position: relative;
  top: 0.05rem;
}

.inRow-container .infoRow strong {
  font-family: OpenSansHebrew;
}

.inRow-container .legendsRow {
  display: flex;
  padding-right: 0.625rem;
}

.inRow-container .legend {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin-left: 0.8rem;
}

.inRow-container .legend .circle {
  min-width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  margin-left: 0.15rem;
  position: relative;
  top: 0.1rem;
}

.inRow-container .chartContainer {
  flex-grow: 1;
  border-radius: 10px;
}

body::-webkit-scrollbar,
.tableContainer::-webkit-scrollbar {
  width: 0.4rem;
  height: 0;
}

body::-webkit-scrollbar-thumb,
.tableContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #969696;
}

/* rules for accesible view */
.accessibleView {
  background-color: #496679;
  color: #ffffff;
}

.accessibleView .accesibleViewButton {
  background-color: #d8d8d8 !important;
  color: #222b45 !important;
}

.accessibleView .spreadness-indices {
  background-color: #384f5f !important;
}

.accessibleView .info-container,
.accessibleView .infoRow {
  background-color: #2a3b47 !important;
}

.accessibleView .lightBulb {
  background-image: url("./assets/images/yellowLighbulb.png");
}

.accessibleView .dropDown,
.accessibleView .dropDown-list {
  background-color: #465b6d;
  border: 2px solid #79858e;
}

.accessibleView .dropDown:hover {
  background-color: #384f5f;
}

.accessibleView .dropDown-list li:hover {
  background-color: rgba(163, 168, 173, 0.2) !important;
}

.accessibleView .inRow-container {
  background-color: #465b6d !important;
}

.accessibleView .inRow-container .title,
.accessibleView ::placeholder {
  color: #ffffff !important;
}

.accessibleView input {
  background-color: #465b6d !important;
  color: #ffffff;
}

.accessibleView th {
  background-color: #2a3b47 !important;
}

.accessibleView th.darker {
  background-color: #354047 !important;
}

.accessibleView td.darker {
  background-color: #314553 !important;
}

.accessibleView .gradeSquare {
  color: #222b45;
}

@media (max-width: 25rem) {
  .inRow-container .header {
    padding: 1rem 0.8rem;
  }
}

@media (max-width: 21.875rem) {
  .inRow-container {
    padding: 0 0.2rem !important;
  }
  .inRow-container .header {
    padding-left: 0.2rem !important;
  }

  .inRow-container .dropDown {
    white-space: nowrap;
  }
}
