.scrollArea {
  overflow: auto;
  direction: ltr;
}

.scrollContent {
  direction: rtl;
}

header {
  background-color: #ffffff;
  color: #24343f;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 4.75rem;
  left: 0rem;
  top: 0;
  box-shadow: rgb(44, 51, 73, 0.1) 0 8px 16px 0;
}

.top-border {
  height: 0.125rem;
  background: linear-gradient(90deg, #4bb887, #16b6d0, #d6e58a);
}

.header-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 0.312rem;
}

.logo-container .toggle-button {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.37rem;
  cursor: pointer;
}

.logo {
  width: 15.75rem;
  height: 3rem;
  margin-right: 0.34rem;
}

.title-container {
  width: 100%;
  position: absolute;
  text-align: center;
}

.title-container a {
  color: inherit;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
}

.title-container .subtitle {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 0.1rem;
}

.accesibleViewButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.875rem;
  height: 1.75rem;
  background-color: #39475d;
  border-radius: 3.12rem;
  font-size: 0.87rem;
  font-weight: 400;
  color: #ffffff;
  position: absolute;
  left: 7%;
  cursor: pointer;
}

.header-placeHolder {
  height: 4.75rem;
}

.data-container {
  position: relative;
  left: 0rem;
  padding: 2.25rem;
}

.spreadness-indices {
  height: 23.5rem;
  background-color: #ffffff;
  margin: 1.3rem 0 1.3rem;
  border-radius: 0.625rem;
  padding: 0 0.07rem;
}

.spreadness-indices .title {
  font-size: 1.25rem;
  padding: 1.625rem;
  text-align: center;
  border-bottom: 1px solid #d8d8d9;
}

.data-row {
  display: flex;
  margin-bottom: 1.3rem;
}

.data-row:not(.second) > div {
  height: 21.75rem;
}

.data-row.second > div {
  height: 18.75rem;
}

.spreadness-chart {
  flex: 1 1 33.33333%;
}

.spreadness-chart:not(:last-of-type) {
  border-left: 1px solid #d8d8d9;
}

.inRow-container {
  background-color: #ffffff;
  border-radius: 0.625rem;
}

.data-row.third .right {
  flex: 0 0 60%;
  margin-left: 1.25rem;
  padding: 0 0.625rem;
}

.data-row.third .left {
  flex: 1 0 auto;
}

.data-row.fourth .right {
  flex: 0 0 67%;
  margin-left: 1.25rem;
}

.data-row.fourth .left {
  flex: 1 0 auto;
}

@media (max-width: 87.5rem) {
  .data-container {
    padding-bottom: 0;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
  }

  .data-row:not(.second) {
    flex-wrap: wrap;
    height: fit-content;
  }

  .inRow-container.right {
    flex: 0 0 100% !important;
    margin-left: 0;
  }

  .data-row:not(.fourth) .inRow-container.left {
    flex: 0 0 100%;
    margin-top: 1.25rem;
  }

  .data-row.fourth .inRow-container.left {
    margin-top: 1.3rem;
    flex: 0 1 50%;
  }
}

@media (max-width: 61.85rem) {
  header {
    height: 8.25rem;
  }

  .header-placeHolder {
    height: 8.25rem;
  }

  .header-container {
    align-items: baseline;
    padding-top: 0.5rem;
  }

  .title-container {
    text-align: right;
    top: 5.35rem;
    right: 1rem;
  }

  .title-container a {
    font-size: 0.8125rem;
  }

  .title-container .subtitle {
    text-align: right;
    font-size: 0.625rem;
  }

  .accesibleViewButton {
    position: absolute;
    top: 5.5rem;
    left: 0.6rem;
  }

  .data-container {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    padding-top: 1rem;
  }

  .data-row.fourth .inRow-container.left {
    flex: 0 0 100%;
  }
}

@media (max-width: 53.25rem) {
  .spreadness-indices {
    height: fit-content;
  }

  .data-row.second {
    flex-wrap: wrap;
  }

  .data-row.second > div:not(:last-of-type) {
    flex: 1 0 100%;
    border: none;
    border-bottom: thin solid #d8d8d9;
  }
}

@media (max-width: 23.56rem) {
  .logo {
    width: 15rem;
    height: 3rem;
  }

  .title-container {
    top: 4rem;
  }

  .left-container {
    width: fit-content;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
  }

  .left-container span {
    font-size: 0.625rem;
  }
}

@media (max-width: 20.93rem) {
  .data-container {
    padding-left: 0.1rem;
    padding-right: 0.5rem;
  }
}
