.mainContainer {
  display: block;
  display: relative;
}

.leftSideContent {
  display: inline-flex;
  align-items: center;
  position: relative;
  top: 1rem;
}

.infoRow {
  border-radius: 9px;
  margin: 0 0 0 0.6rem;
  padding: 0 0 0 0.6rem;
  font-size: 0.75rem;
}

.inputContainer {
  border: 1px solid #e4e9f2;
  padding: 0.25rem 0.9375rem;
  border-radius: 14.5px;
}

.inputIcon {
  display: inline-block;
  width: 1.15rem;
  height: 1.15rem;
  background-image: url("../../../assets/images/inputIcon.png");
  background-size: cover;
  vertical-align: middle;
  margin-left: 0.4rem;
}

input {
  border: none;
  font-family: OpenSansHebrewRegular;
  font-size: 0.95rem;
}

::placeholder {
  opacity: 0.8;
}

input:focus {
  outline: none;
}

.citiesList {
  position: absolute;
  top: 1.3rem;
  left: 2rem;
  z-index: 100;
  list-style: none;
  font-size: 0.9375rem;
  width: 10.5rem;
  max-height: 17rem;
  padding: 0;
  overflow-y: auto;
  border-radius: 5px;
  border: thin solid #e7ecf4;
}

.citiesList li {
  margin: 0;
  padding: 0.61rem 1rem;
  background-color: #ffff;
}

.citiesList li:hover {
  background-color: #edeff3;
  cursor: pointer;
  transition-duration: 0.3s;
}

.middleRow {
  display: inline-block;
  font-size: 0.75rem;
  margin-top: 0.3rem;
}

.lowerRow {
  display: flex;
  margin-top: 0.7rem;
}

.lowerRow p {
  margin: 0;
}

.section {
  display: flex;
  font-size: 0.9rem;
  margin-left: 1.1rem;
}

.section .square {
  width: 2rem;
  height: 2rem;
  margin-left: 0.4rem;
  border-radius: 2px;
}

.red {
  background-color: #fa9e8f;
}

.orange {
  background-color: #f2c580;
}

.yellow {
  background-color: #fcfc70;
}

.green {
  background-color: #b8de92;
}

.lowerRow p:not(.italic) {
  font-family: OpenSansHebrewRegular;
  position: relative;
  bottom: 0.14rem;
}

.lowerRow .italic {
  font-style: italic;
  font-family: OpenSansHebrewLight;
  font-weight: 400;
  opacity: 0.7;
  margin-top: 0.09em;
}

.tableContainer {
  height: 13.6rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: scroll;
  direction: ltr;
}

.tableContent {
  direction: rtl;
}

table {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
  font-family: OpenSansHebrewRegular;
  font-size: 0.875rem;
}

th {
  background-color: #e6f1f3;
  font-weight: 400;
  padding: 2px 5px 2px 0;
  position: sticky;
  top: 0;
}

th:nth-child(1) {
  width: 9.375rem;
}

th:not(:nth-child(1)) {
  width: 130.4px;
}

th.darker {
  background-color: #daeaee;
}

th:nth-child(1) {
  margin: auto;
  text-align: right;
}

.cellButton {
  display: inline-block;
  width: fit-content;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 0.15rem;
}

.cellArrow {
  width: 0.625rem;
  height: 0.468rem;
  position: relative;
  top: 0.05rem;
  background-image: url("../../../assets/images/blueArrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.cellArrow.arrowDown {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.cellArrow.arrowHidden {
  display: none;
}

td {
  border-bottom: thin solid #dddfdf;
  padding: 0.28rem 0;
}

td:first-of-type {
  padding-right: 0.3rem;
}

td:not(:first-of-type) {
  text-align: center;
}

td.bold {
  font-weight: 900;
}

td.darker {
  background-color: #f7fafc;
}

.gradeSquare {
  width: 1.75rem;
  height: 1.5rem;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-decoration: underline;
}

@media (max-width: 74.4375rem) {
  .section {
    font-size: 0.8125rem;
  }
}

@media (max-width: 70rem) {
  .tableContainer {
    height: 13.7rem;
  }
  .section {
    align-items: center;
  }
}

@media (max-width: 68.75rem) {
  .middleRow {
    max-width: 12.5rem;
  }

  .tableContainer {
    height: 12.8rem;
  }
}

@media (max-width: 64.68rem) {
  .middleRow {
    max-width: 11.25rem;
  }
}

@media (max-width: 61.85rem) {
  .middleRow {
    max-width: fit-content;
  }
  .tableContainer {
    height: 13.8rem;
  }
}

@media (max-width: 48.2rem) {
  .tableContainer {
    height: 12.2rem;
  }

  .middleRow {
    display: block;
    max-width: 11.875rem;
  }
}

@media (max-width: 42.18rem) {
  .middleRow {
    display: block;
    max-width: 9.375rem;
  }
}

@media (max-width: 40.312rem) {
  .tableContainer {
    height: 11.55rem;
  }

  .middleRow {
    display: block;
    max-width: 6.875rem;
  }
}

@media (max-width: 38.75rem) {
  .header {
    padding-top: 2rem;
  }

  .upperRow {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  .leftSideContent {
    flex-direction: column;
    margin-top: 0.15rem;
    align-items: baseline;
  }

  .infoRow {
    margin-bottom: 0.3rem;
    border-radius: 2px;
  }

  .middleRow {
    font-size: 0.625rem;
    max-width: fit-content;
    position: absolute;
    bottom: 4rem;
  }

  .lowerRow {
    flex-direction: column;
    width: fit-content;
    position: absolute;
    top: 0.25rem;
    left: 0;
  }

  .section {
    margin-bottom: 0.7rem;
  }

  .section .square {
    width: 1.625rem;
    height: 1.625rem;
  }

  .tableContainer {
    margin-top: 2.5rem;
    height: 10.55rem;
  }

  table {
    font-size: 0.6875rem;
  }
}

@media (max-width: 30rem) {
  ::placeholder {
    font-size: 0.7rem;
  }

  .infoRow {
    font-size: 0.625rem;
  }

  input {
    width: 140px;
    font-size: 0.72rem;
  }
}

@media (max-width: 26.87rem) {
  .section {
    font-size: 0.625rem;
  }
}

@media (max-width: 27.5rem) {
  .header {
    padding-top: 0.5rem;
  }
  .section {
    font-size: 0.562rem;
    margin-top: 0rem;
  }

  .section .square {
    width: 1.375rem;
    height: 1.375rem;
  }

  .tableContainer {
    height: 12.3rem;
  }
}

@media (max-width: 24.68rem) {
  .header {
    padding-right: 0.5rem;
  }

  .leftSideContent {
    top: 1.5rem;
  }

  .middleRow {
    max-width: 9.375rem;
    top: 1.8rem;
  }

  input {
    width: 6.25rem;
  }
}

@media (max-width: 20.93rem) {
  .header {
    padding-top: 1rem;
  }

  .middleRow {
    top: 2.3rem;
  }

  .lowerRow {
    left: -0.7rem;
    top: 1rem;
  }
  .section {
    font-size: 0.5rem;
    margin-bottom: 0;
  }

  .tableContainer {
    height: 13.05rem;
    margin-top: 1.3rem;
  }
}

@media (max-width: 18.25rem) {
  .infoRow {
    font-size: 0.5rem;
  }

  input {
    width: 4.375rem;
  }
}
