<div class="header">
  <div class="upperRow">
    <div class="title">עקומה אפידמית</div>
    <div class="dropDown">
      {{ dropDownText }}
      <div class="arrow epidemicalCurve"></div>
    </div>
  </div>

  <div class="infoRow">
    <div class="lightBulb"></div>
    <span>
      מספר הנדבקים היום הינו <strong>כפול</strong> מהמספר לפני
      <strong>20</strong> ימים
    </span>
  </div>

  <div class="legendsRow">
    <div class="legend right">
      <div class="circle"></div>
      <span>מאומתים חדשים</span>
    </div>
    <div class="legend middle">
      <div class="circle"></div>
      <span>מחלימים חדשים</span>
    </div>
    <div class="legend left">
      <div class="circle"></div>
      <span>מאומתים מצטבר</span>
    </div>
  </div>
</div>
